<div class="row">
    <div class="col-xs-12">        
        <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-xs-12">
        <app-recipe-item 
            *ngFor="let recipeEl of recipes; let i = index"
            [recipe]="recipeEl" 
            [index]="i"
        ></app-recipe-item>
        <!-- <a href="#" 
                class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let recipe of recipes">
            <div>
                <h4 class="list-group-item-heading">{{recipe.name}}</h4>
                <p class="list-group-item-text">{{recipe.description}}</p>
            </div>

            <img 
                [src]="recipe.imagePath" 
                alt="{{recipe.name}}" 
                class="img-responsive"
                style="max-height: 50px;" />
        </a> -->
        <!-- <app-recipe-item></app-recipe-item> -->
    </div>
</div>

